body{
    background-color: teal;
    text-align: center;
}
label{
    display: block;
}
label{
    font-size: 15px;
    margin: 10px;
    text-decoration: underline gold;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: red;
}
#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 100px;
    margin: 10px;
    border: 2px solid gold;
}
